In [1]:
pip install pandas

Requirement already satisfied: pandas in /Users/shivarjunpawan/anaconda3/lib/python3.10/site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/shivarjunpawan/anaconda3/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/shivarjunpawan/anaconda3/lib/python3.10/site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in /Users/shivarjunpawan/anaconda3/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /Users/shivarjunpawan/anaconda3/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd
df= pd.read_csv('people.csv')
df

,Name,State,Salary,Grade,Room,Telnum,Picture,Keywords
0,Dhruvi,TX,99099,100,550.0,1000010.0,dhru.jpg,Dhruvi is nice
1,Chuck,TX,1000,98,420.0,NaN,chuck.jpg,Chuck is amazing
2,Meena,TX,125000,99,NaN,NaN,,Meena is outa here
3,Dave,NN,20,40,525.0,0.0,dave.jpg,Who is this
4,Tuan,CA,NaN,80,-1.0,NaN,,Tuan is gone
5,Tavo,CA,220200,,NaN,NaN,tavo.jpg,Tavo works very hard
6,Nora,TX,-1,80,520.0,808.0,,NaN
7,Sue,NN,,79,0.0,2723785.0,upset.jpg,Sue isn't Susan
8,Susan,OK,255000,84,101.0,911.0,,Susan is very smart
9,Darwin,TN,25,100,NaN,1009.0,dar.jpg,Darwin is very creative
10,Sriya,TX,111001,100,221.0,NaN,sriya.jpg,Sriya is great

In [7]:
df= pd.read_csv('people.csv')
df['Salary','Grade','Picture'].fillna(' ', inplace=True)
df

KeyError: ('Salary', 'Grade', 'Picture')

In [8]:
import pandas as pd

# Read the CSV file into a DataFrame
df = pd.read_csv('people.csv')

# Fill NaN values in multiple columns
fill_values = {'Salary': ' ', 'Grade': ' ', 'Picture': ' '}
df.fillna(value=fill_values, inplace=True)

print(df)

      Name State  Salary Grade   Room     Telnum    Picture  \
0   Dhruvi    TX   99099   100  550.0  1000010.0   dhru.jpg
1    Chuck    TX    1000    98  420.0        NaN  chuck.jpg
2    Meena    TX  125000    99    NaN        NaN
3     Dave    NN      20    40  525.0        0.0   dave.jpg
4     Tuan    CA            80   -1.0        NaN
5     Tavo    CA  220200          NaN        NaN   tavo.jpg
6     Nora    TX      -1    80  520.0      808.0
7      Sue    NN            79    0.0  2723785.0  upset.jpg
8    Susan    OK  255000    84  101.0      911.0
9   Darwin    TN      25   100    NaN     1009.0    dar.jpg
10   Sriya    TX  111001   100  221.0        NaN  sriya.jpg

                   Keywords
0            Dhruvi is nice
1          Chuck is amazing
2        Meena is outa here
3               Who is this
4              Tuan is gone
5      Tavo works very hard
6                       NaN
7           Sue isn't Susan
8       Susan is very smart
9   Darwin is very creative
10           Sriya is great